body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h3 {
  margin-top: 2rem;
}

.row {
  margin-bottom: 1rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
  padding-left: 1rem;
}
[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0,0,255,.15);
  border: 1px solid rgba(0,0,255,.2);
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.table {
 font-size: small;
}
